
            #f{
                width: 50%;
                height: 70%;
                margin-left: 48%;
                transform: translateY(50px);
               
            }
            #f:hover{
                border: solid gray 10px;
                transform:perspective(450px)scale(1.0);
                transition: 1s;
            }
           #f1{
            
            text-align: center;
           transform: translateY(30px);
           background: linear-gradient(rgb(193, 193, 34),rgb(214, 42, 42));
           -webkit-text-fill-color: transparent;
           -webkit-background-clip: text;

           }
            #f2{
                transform: translateY(30px);
                margin-left: 200px;
            }  
            #f2:hover{
                border:solid black 3px;
                background-color: yellow;
                color: black;
            }
            
            #fb{
                background-image: url(images/foodbg.jpg);
               height: 450px;
               background-repeat: no-repeat;
               background-size: cover;
               animation-name: fb;
               animation-duration: 10s;
               animation-iteration-count: infinite;
            }
            @keyframes fb {
                50%{
                    background-image: url(images/foodbg1.jpg);
                }
            }
            #fb1{
                background-color:rgba(0, 0, 0, 0.367); 
                width: 30%; 
                height: 50%;
                transform: translateY(-235px);  
                margin-left: 10%;
                border-radius: 30px;
                          
            }
            #i3{
                width: 300px;
                height: 300px;
               transform: translateY(80px);
              
               
            }
            #i3:hover #ac{
                display: block;
            }
            #i3:hover #ho{
                display: block;
            }
            #i3:hover{
               width: 320px;
               height: 320px;
               border-radius: 50px;
               transition: 1s;
            }
            #df{
                display: flex;
                justify-content: space-around;
                margin-left: 30px;
                
               
            }
            #ho{
                background-color: rgba(0, 0, 0, 0.311);
                 height: 180px; 
                 display: none;
                 border-radius: 20px;
                 transform: translateY(100px);
            }
            #cb{
               background-image: url(images/conb2.jpg);
                  margin-top: 50px; 
                  height: 700px;
                  
            }
           
            
            #ac{
               text-align: center;
               transform: translateY(10px);
               display: none;
               color: red;
            }
            #cd{
                transform: translateY(-300px);
                text-align: center;
                color: brown;
               
            }
            #bc{
                margin-left: 44.7%;
                transform: translateY(-300px);
                width: 150px;
                background-color: black;
                color: yellowgreen;
            }
            #bc:hover{
                border: solid rgba(0, 0, 0, 0.408) 4px;
            }
            #td{
                margin-top: 100px;
               background-image: url(images/tb1.jpg);
                height: 550px;
                background-size: cover;
                animation-name: cb;
               animation-duration: 10s;
               animation-iteration-count: infinite;
            }
            @keyframes cb {
                50%{
                    background-image: url(images/tb2.jpg);
                }}
            #t{
                width: 50%;
                height: 70%;
                transform: translateY(90px);
                margin-left: 50px;
                border: solid rgba(0, 0, 0, 0.458) 5px;
                border-radius: 60%;
            }
           
            #t:hover{
                width: 55%;
                height: 75%;
                transition: 1s;
                -webkit-filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.363));
            }
            #t1{
                text-align: center;
           transform: translateY(30px);
            background: linear-gradient(skyblue,white);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            }
            #t2{
                transform: translateY(30px);
                margin-left: 200px;
                background: linear-gradient(skyblue,white);
            }
            #tb1{
                background-color: rgba(0, 0, 0, 0.305); 
                width: 30%; 
                height: 50%;
                transform: translateY(-255px);  
                margin-left: 60%;
                animation-name: tb1;
                animation-iteration-count: infinite;
                animation-duration: 7s;
            }
            @keyframes tb1 {
                50%{
                    border-radius: 30%;
                }
            }
            #g{
                margin-top: 50px;
                background-image: url(images/gb2.avif);
                border-radius: 30px;
                background-repeat: no-repeat;
                background-size: cover;
                height: 600px;
            }
            
            #g1{
                width: 250px;
                height: 250px;
                transform: translateY(16px);
                border-radius: 50%;
            }
            #g1:hover #gad{
                display: block;
            }
            #g1:hover{
               transform: scale(1.0);
                transition: 1s;
            }
            #g2{
                text-align: center;
           transform: translateY(30px);
           
            }
            #gb{
                background-color:rgba(255, 192, 203, 0.581);
                display: flex;
                height: 380px;
                width: 750px;
                justify-content: center;
                justify-content: space-around;
                margin-left: 48%;
                transform: translateY(50px);
                border-radius: 50%;
            }
            #gb1{
                background-color:rgba(135, 207, 235, 0.456); 
               
                width: 30%; 
                height: 35%;
                transform: translateY(-170px);  
                margin-left: 10%;
                border-radius: 30px;
            }
            #bg{
                transform: translateY(30px);
                margin-left: 170px;
                background:linear-gradient(pink,skyblue);
            }
            #bg:hover{
                border: solid rgb(41, 129, 245) 5px;
            }
            #gad{
                transform: translateY(20px);
                text-align: center;
                display: none;
                color:rgb(68, 50, 204);
            }
            
               
            
            
            
        