
                 
#i1{
    height: 20px;
    width: 20px;
    transform: translateY(2px);
}
#i2{
    height: 15px;
    width: 15px;
}
#i3{
    height: 30px;
    width: 30px;
    transform: translateY(5px);
}
#i4{
    height: 20px;
    width: 20px;
    transform: translateY(25px);
}


#i6{
    height: 30px;
    width: 35px;
    transform: translateY(30px);
}
#i7{
    height: 100px;
    width: 100px;
}
#is{
    width: 20px;
    height: 20px;
}
#ip{
    transform: translateY(30px);
    color: white;
    font-size: x-large;
    font-family:sans-serif;
    animation-name: tbag;
    animation-duration: 10s;
    animation-iteration-count: infinite;
   
}
@keyframes tbag {
  0%{
    background: linear-gradient(yellow,black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  25%{
    background: linear-gradient(red,white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  50%{
    background: linear-gradient(skyblue,rgb(235, 235, 82));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  75%{
    background: linear-gradient(black,white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  100%{
    background: linear-gradient(yellow,black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
}
#d4 a:hover{
  color: aqua;
}

#d7{

width: 40px;
height: 3px;
display: none;
transform: translateY(5px);
  }

#home:hover  #d7{

display: block;
}
#aboutus:hover  #d7{
width: 60px;
display: block;
}
#contact:hover  #d7{
width: 50px;
display: block;
}
#service:hover  #d7{
width: 50px;
display: block;
}


#home{
    transform: translateY(10px);
    color: white;
} 

  
                
#aboutus{
    transform: translateY(10px);
    color: white;
}
#contact{
    transform: translateY(10px);
    color: white;
}
#service{
    transform: translateY(10px);
    color: white;
}
 #d1{
    display: flex;
    justify-content: space-between;
    background-color: rgb(123, 217, 248);
    
    
} 
#d2{
    background-image: url("images/bg.jpg");  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        
    width: 100%;
    height: 1000px;
    animation-name: change;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}
@keyframes change {
  0%{
    left: 0px;
    background-image: url("images/bi1.avif");
  }
  20%{
    left: 1200px;
    background-image: url("images/bi2.jpg");
  }
  40%{
    left: 2400px;
    background-image: url("images/bi3.png");
  }
  60%{
    left: 2400px;
    background-image: url("images/bi4.jpg");
  }
  80%{
    left: 1200px;
    background-image: url("images/bg.jpg");
  }
  100%{
    left: 0px;
    background-image: url("images/bi5.jpg");
  }
  
}
#d3{
    display: flex;
    height: 100px;
    width: 100px;
}


#d4{
    display: flex;
    margin-top: -55px;
    margin-left: 700px;
    justify-content:space-evenly;
    color: white;
}
#d5{
    background-color: rgba(0, 0, 0, 0.548);
    width: 100%;
    height: 100%;
    margin-top: -230px;
}
#d6{
background-color: white;
width: 100%;
height: 3px;
transform: translateY(15px);

}



#d8{
text-align: center;
margin-top: 130px;


color: white;
animation-name: tc;
animation-duration: 10s;
animation-iteration-count: infinite;
}
#d9{
text-align: center;
font-size: 130px;
margin-top: 30px;
color: white;

}
#d10{
background-image: url("images/tb.jfif");
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
margin-top: 220px;


}
@keyframes tc {
0%{
  font-size: 35px;
  color: white;
}
25%{
  font-size: 50px;
  color: chocolate;
}
50%{
  color:darkgray;
}
75%{
  font-size: 35px;
  color:blueviolet;
}
100%{
  font-size: 50px;
  color: white;
}

}
#d11{
  display: flex;
  justify-content: center;
  margin-top: 100px;

}
#fs{
margin-left: 20px;
background-color: rgba(255, 255, 255, 0.352);
}
#fs:hover{
background-color: white;
transform: scale(1.2);
color: chocolate;
}
#ib1:hover{
background-color:black;
transform: scale(1.2);
color: chocolate;
}
#ib1{

background-color:rgba(255, 255, 255, 0.352);
}
#ip1{
color: black;
transform: translateY(15px);
font-size: xx-large;
animation-name: tbag;
animation-duration: 10s;
animation-iteration-count: infinite;
}
#au{
color: rgb(127, 214, 255);
text-align: center;
}
#ih{
font-size: large;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#il{
color: rgb(127, 238, 255);
}
#it{
width: 20px;
height: 20px;
}
#lo{
text-align: center;
width: 50%;
}

#wm{
width: 48%;
height: 55%;
margin-left: 52%;
margin-top: -420px;
}
#wm:hover {

border: 2px solid black;
-webkit-filter: drop-shadow(10px 10px 5px gray);
transform: scale(1.1);
}


#d12{
margin-left: 300px;
font-size: 30px;
color: cornflowerblue;
}
#tm{
text-align: center;
color:rgb(127, 238, 255);
}
#pd{
text-align: center;
}
#d13{
background-color: aqua;
width: 150px;
height: 3px;
margin-left: 45%;

}
#d14{
background-color: white;
width: 20px;
height: 3px;
margin-left: 44%;
animation-name: wb;
animation-iteration-count: infinite;
animation-duration: 5s;
}
@keyframes wb {
from{
  
    margin-left: 50%;
    transform: perspective(450px)translateX(60px);
}
to{
  margin-left: -1%;
}



}
#d15{
background-image: url("images/rt.jpg");
width: 300px;
height: 300px;

}
#d15:hover{

transform: scale(1.1);
}
#d16:hover{

transform: scale(1.1);
}
#d17:hover{

transform: scale(1.1);
}
#d15:hover #d18{

display: block;
}
#d16:hover #d18{
display: block;
}
#d17:hover #d18{
display: block;
}
#d16{
background-image: url("images/em.jpg");
width: 300px;
height: 300px;
}
#d17{
background-image: url("images/sp.jpg");
background-size: cover;
width: 300px;
height: 300px;
}
#d19{
display: flex;
justify-content: space-evenly;
margin-top: 50px;
}
#d18{
background-color: rgba(0, 0, 0, 0.5);
width: 300px;
height: 300px;
margin-top: -20px;
display: none;

}
#ir{
text-align: center;
transform: translateY(100px);
}
#cu{
text-align: center;
color:aqua;
margin-top: 150px;
}
#c1{
text-align: center;
}
#c2{
background-color: rgb(0, 146, 146);
height: 60px;
 width: 60px;
 margin-top: 100px;
}
#ic{
    height: 30px;
    width: 30px;
    padding: 22%;
    
}
#c3{
margin-top: 80px;
margin-left: -120px;
}
#im{
    height: 50px;
    width: 50px;
    padding: 10%;
}
#c4{
display: flex;
justify-content: space-evenly;
}
#nu{
color:darkblue;
}
#c5{
width: 23%;
height: 5%;
background-color: rgb(186, 225, 225);
}
#c6{
width: 46%;
height: 5%;
background-color: rgb(186, 225, 225);
}
#c7{
margin-left: 150px;
margin-top: 70px;
}
#c8{
width: 46%;
height: 5%;
background-color: rgb(0, 221, 255);
}
#if{
width: 40%;
height: 32%;
margin-top: -235px;
margin-left: 54%;
}
#c9{
width: 46%;
height: 10%;
background-color: rgb(186, 225, 225);
}
#s1{
text-align: center;
margin-top: 150px;
color:aqua;
}
#bani3:hover cc{
  animation-play-state:paused;
}
#s2{
text-align: center;
}
#s3{
background-color: rgb(150, 230, 235);
border-radius: 50%;
width: 30%;
height: 200px;
margin-top: 120px;
animation-name: cir;
animation-duration: 10s;
animation-iteration-count: infinite;

}
#s6{
background-color: rgb(150, 163, 235);
width: 20%;
height: 200px;
margin-top: 120px;
}
#s3:hover #ib{
display: block;
}
#id{
width: 60px;
height: 20%;
margin-left:200px;


}
@keyframes cir 
{

25%{
  background: linear-gradient(pink,white);
 
}
50%{
  background: linear-gradient(rgb(162, 219, 162),white);
  
}
75%{
  background: linear-gradient(rgb(146, 146, 208),white);
 
}
100%{
  background: linear-gradient(rgb(208, 208, 141),white);
  
}



}
#ics{
width: 50px;
height: 15%;
margin-top: -35px;      
margin-left: 203px;
}

#iss{
width: 30px;
height: 10%;
margin-top: -30px;      
margin-left: 214px;  
}

#s5{
text-align: center;
}
#s{
display: flex;
justify-content: space-evenly;
}
#ser{
display: flex;
justify-content: space-evenly;
}
#ib{
background-color: rgb(0, 191, 255);   
margin-left:200px;
margin-top: 40px;               
display: none;
}
#bi{
width: 30px;
height: 30px;

}
#bani1{
background:linear-gradient(white,skyblue);
width: 100%;
height: 100%;

        
}
#bania1{
animation-name: bani1;
animation-iteration-count: infinite;
animation-duration: 5s;   
}
#bania1:hover{
  animation-play-state: paused;
}
#bani1:hover{
background:linear-gradient(skyblue,white);

}
@keyframes bani1 {
from{
margin-top:200px;
}
}
#bani2{
animation-name: bani1;
animation-iteration-count: infinite;
animation-duration: 5s;
}
#bani2:hover{
  animation-play-state: paused;
}
#banic1{
background:linear-gradient(skyblue,white);
width: 100%;
height: 100%;

} 

#banic1:hover{
background:linear-gradient(white,skyblue);
}
#bani3{
background-color: lightcyan;
width: 100%;
height: 900px;

animation-name: cc;
animation-iteration-count: infinite;
animation-duration: 5s;  
}
#bani3:hover{
  animation-play-state: paused;
}
@keyframes cc {
0%{
border-radius: 50px;
background-color:skyblue;
}
25%{
background-color:white;
}
50%{
background-color:skyblue;
}
75%{
background-color:white;
}
100%{
background-color:skyblue ;
}
from{
margin-top:200px;
}


}


#fsu{
background-color: cornflowerblue;
color:black;
transform: translateY(5px);
}
#fsu:hover{
border: solid black 2px;
background-color: black;
transform: scale(1.5);
color:chartreuse;

}
#bt{
background-color: rgba(255, 255, 255, 0.348);
transform: translateY(5px);
}
#pre{
color: rgb(43, 89, 226);
}
#st{
background-color: rgba(0, 0, 0, 0.386);
height: 100px;
position: sticky;
top: 0px;

}
#s6{
height: 170px;
}
#mt{
transform: translateY(200px);
font-size: 35px;
}








